@import url(variables.css);

body{
   max-width: 1400px;
   max-height: 2000px;
   background: var(--color-1);
   display: flex;
   
 

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.header h3{
    color: #ff702a;
    padding-left: 27%;
    font-size: 40px;
    font-family: 'Poppins';
    margin-top: 1%;
}
.head{
    padding-left: 55%;
    display: flex;
    gap: 10px; 
    font-family: 'Poppins'; 
}
.head p{
    margin-left: 90px;
    padding-top: 10px;
    display: flex;
   
    color: var(--color-3);
    font-size: 20px;
   
    
}
.center{
    align-items: center;
    margin-left: -60%;
    padding-top: 15%;
}
.center h1{
    font-size: 80px;
    font-family: 'Poppins-normal';
    color: var(--color-2);
}
.center p{
    color: var(--color-3);
    display: flex;
    left: 50%;
    font-size: 40px;
    font-family: 'Poppins';
    
}

button{
    background: var(--color-2);
    color: var(--color-3);
    padding: 10px 30px;
    font-family: 'Poppins';
    font-size: 20px;
}
.img1{
    position: absolute; 
    left: 50%;
    top: 20%; 

}
.page2{

    padding-top: 200px;
    margin-left: -20%;
    display: flex;
    font-family: 'Poppins';
    
   
}

.home{
    position: absolute;
    margin-left: -24%;
    width: 450px;
    gap:20%;
}
.page2 h3{
    color: var(--color-2);
   
    

}.page2 p{
    color: var(--color-3);

}
.page2 h2{

    color: var(--color-3);
    font-size: 40px;
}
.text{
    margin-left: 15%;
    
}
.text_2 p{
font-size: 25px;
width: 48%;

}
.text_2 h2{
    font-size: 40px;
    width: 50%;
    
}





.aline{
    margin-top: 25%;
    align-content: center;
    text-align: center;
    margin-left: -100%;
    font-family: 'Poppins';
}   
.menu{
    color: var(--color-2);
    font-size: 20px;
}
.taste h3 {
    color: var(--color-3);
    padding-bottom: 5%;
    font-size: 35px;
   
    
}
.containG {
    display: flex;
    gap: 5%;
    margin-left: 8%;
    padding-bottom: 10%;
}
.contain1{

    width: 25%;
    height: 90%;
    background: var(--color-4);

}
.contain2{

    width: 25%;
    height: 90%;
    background: var(--color-4);
}

.contain3{

    width: 25%;
    height: 90%;
    background: var(--color-4);
    
}
